
<h3 class="feed-posts">Your Feed and Posts:</h3>
    <% if (locals.user) { %>
        <form action="/posts/create" id="new-post-form" method="POST">
            <h4>
                Hey, <%- user.name %>, what's on your mind??
            </h4>
            <textarea name="content" id="" cols="30" rows="5" placeholder="type here...." required>

            </textarea>
            <br>
            <input id="post-submit-btn" type="submit" value="Post">
        </form>
    <% } %>
<div id="post-list-container">
    <ul>
        <% for (post of posts) { %>
            <li id="post-<%= post.id%>">
                <p>
                    <%= post.user.name%> says :
                </p>
                <p id="delete-post">
                    <%= post.content %>
                    <% if (locals.user && locals.user.id==post.user.id) {%>
                        <a class="delete-post-btn" href="/posts/destroy/<%= post.id %>">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    <% } %>
                </p>
                <div>
                    <% if(locals.user) {%>
                        <a class="like-toggle-btn" data-likes="<%= post.likes.length%>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                            <i class="fa-regular fa-heart"></i>
                            <span id="likes-count"><%= post.likes.length%></span> 
                        </a>
                    <%} else {%>
                        <i class="fa-regular fa-heart"></i>
                        <span id="likes-count"><%= post.likes.length%></span> 
                    <% } %>
                </div>
                <div class="post-comments">
                    <%- include('_comment') -%>
                </div>
               
                
            </li>

        <% } %>

    </ul>
        
</div>

