
<div id="main-display">
    <img src="<%= user.avatar%>" alt="<%= user.name%>" width="100" height="auto">
    <h1>
        Hey <%= profile_user.name%>
    </h1>
    <h2>
        <%= profile_user.email%>
    </h2>

    <% if (locals.user.id==profile_user.id) {%>
        <div>
            <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST" >
                <input type="text" name="name" placeholder="Your Name" id="" required>
                <br><br>
                <input type="text" name="email" placeholder="Your email" required>
                <br><br>
                <input type="file" name="avatar" placeholder="Profile Picture" >
                <!--#### becoz I didnt provide the name for the file multer was not able to create a file entity,hence req.file was undefined -->
                <br><br>
                <input type="submit" value="Update">
            </form>
        </div>
    <% } %>
</div>